{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %} تغییر رمز عبور {% endblock %}
{%block content %}
<!-- Breadcrumb Section Begin -->
<section
    class="breadcrumb-section set-bg"
    data-setbg="{% static 'img/breadcrumb.jpg' %}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>تغییر رمز عبور</h2>
                    <br />
                    <div class="breadcrumb__option">
                        <a href="{% url 'core:index' %}">خانه</a>
                        <span>تغییر رمز عبور</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-right">
                <br />
                <br />
                <h4>
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}
                        {% trans "تغییر رمز عبور" %}{% endif %}
                </h4>
                <br />
                <hr />

                {% if token_fail %} {% url 'account_reset_password' as passwd_reset_url %}
                <p>
                    {% blocktrans %} ایمیل تنظیم مجدد گذرواژه نامعتبر است ،
                    احتمالاً به دلیل استفاده قبلاً. لطفاً بازنشانی
                    <a href="{{ passwd_reset_url }}" style="color: #f3d346"
                        >رمزعبور جدید</a
                    >
                    را درخواست کنید. {% endblocktrans %}
                </p>
                {% else %} {% if form %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %} {{ form|crispy }}
                    <input
                        type="submit"
                        name="action"
                        value="{% trans 'change password' %}"
                        class="site-btn"
                    />
                </form>
                {% else %}
                <p>{% trans 'رمزعبور شما اکنون تغییر کرده است.' %}</p>
                {% endif %}
                <br />
                <br />
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
