{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    تغییر رمز عبور
{% endblock %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section
            class="breadcrumb-section set-bg"
            data-setbg="{% static 'img/breadcrumb.jpg' %}"
    >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>تغییر رمز عبور</h2>
                        <br>
                        <div class="breadcrumb__option">
                            <a href="{% url 'core:index' %}">خانه</a>
                            <span>تغییر رمز عبور</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 text-right">
                    <br>
                    <br>
                    <h4>{% trans "تغییر رمز عبور" %}</h4>
                    <br>
                    <hr>
                    <p>{% trans 'رمز عبور شما با موقیت تغییر پیدا کرد.' %}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
